@import 'normalize.scss';
@import 'base.scss';
@import 'font.scss';
@import 'typography.scss';
@import "~bootstrap/scss/bootstrap";

body{
  background: color(bg);
  color:color(text);
  min-height: 100vh;
  font-family: $text-font;
}

.toast{
  .toast-header{
    background:color(primary);
    color:white;
    .btn-color{
      color:white;
    }
  }
  .toast-body{
    background:white;
    color:color(primary);
    font-size:24px;
  }
}
.blobs{
  z-index:-1;
  position: relative;
}
.form{
  h1{
    font-size: 3.5em;    
  }
  .circles{
    position: relative;
    bottom:0;
    right:100%;
    .c1{
      width:270px;
      height:270px;
      display:block;
      border:7px solid color(primary);
      border-radius: 50%;
    }
  }
  .form-title{
    .image-container{
      width:250px;
      height:250px;
      display:block;
      margin:0 auto;
  
    }
    color:color(primary);
    font-weight: 600;

  }
  label{
    color:color(primary);
    font-weight: 500;
  }
  .btn-primary{
    background-color: color(primary);
    width:70%;
    display:block;
    margin:0 auto;
  }
}
.remove-input-arrow{
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type=number] {
    -moz-appearance: textfield;
  }
}
.rdrCalendarWrapper{
  min-width:300px;
  width:100%;
  font-size:15px;
  border-radius: 12px;
  .rdrMonth{
    width:100%!important;
    font-family: sans-serif;
  }
  @media screen and (min-width:350px){
    .rdrMonthPicker, .rdrYearPicker {
      margin:0;
    }
  }
}
.button{
    text-align: center;
    padding:10px 15px;
    color: color(mid);
    font-weight:600;
    background-color: transparent;
    border:1px solid color(mid);
    border-radius:10px;
    &:hover{
      color: color(low);
      background-color: color(mid);

    }
    &.rounded{
      border-radius:30px;
    }
    &.primary{
      color: color(bg);
      background-color: color(primary);
      border:1px solid color(primary);

      &:hover{
        background-color: color(bg);
        color:color(primary);
      }
    }
    
}
.data-style{
  display:inline-flex;
  justify-content:center;
  margin:5px 0;
  border:1px solid color(primary);
  border-radius:6px;
  &>div{
    padding:5px;
    border-radius:4px;
    cursor: pointer;

  }
  .active{
    background-color: color(primary);
    color:white;
  }
}
footer{
  @include space-section;
  display:block;
  background-color:color(bg-alt);
  min-height:500px;
  padding: 20px;
}
//helpers
.has-text-primary{
  color:color(primary)
}
.has-text-low{
  color:color(low)
}
.has-text-accent{
  color:color(accent)
}
.has-text-secondary{
  color:color(secondary)
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
    
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
    border: 1px solid #ccc; 
    width: 100%; 
    overflow-x: auto;
  }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50% !important;
    width: 100%; 


	}
  // td:nth-of-type(odd){
  //   background-color: transparent !important;

  // }
	// tr:nth-of-type(odd){
  //   background-color:rgba(122, 122, 122, 0.5);
  // }
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
  td:nth-of-type(1):before { content: "Name"; }
	td:nth-of-type(2):before { content: "Email"; }
	td:nth-of-type(3):before { content: "phone number"; }
	td:nth-of-type(4):before { content: "address"; }
	td:nth-of-type(5):before { content: "profession"; }
	td:nth-of-type(6):before { content: "contribution"; }
	td:nth-of-type(7):before { content: "gender"; }
  td:nth-of-type(8):before { content: "birthday"; }
	td:nth-of-type(9):before { content: "passport"; }
	td:nth-of-type(10):before { content: "next of kin"; }
	td:nth-of-type(11):before { content: "next of contact"; }
	td:nth-of-type(12):before { content: "created"; }

}