@import 'normalize.scss';
@import 'base.scss';
@import 'font.scss';
@import 'typography.scss';
@import "~bootstrap/scss/bootstrap";

body{
  background: color(bg);
  color:color(text);
  min-height: 100vh;
  font-family: $text-font;
}
.toast{
  .toast-header{
    background:color(primary);
    color:white;
    .btn-color{
      color:white;
    }
  }
  .toast-body{
    background:white;
    color:color(primary);
    font-size:24px;
  }
}
.blobs{
  z-index:-1;
  position: relative;
}
.form{
  h1{
    font-size: 3.5em;    
  }
  .circles{
    position: relative;
    bottom:0;
    right:100%;
    .c1{
      width:270px;
      height:270px;
      display:block;
      border:7px solid color(primary);
      border-radius: 50%;
    }
  }
  .form-title{
    .image-container{
      width:250px;
      height:250px;
      display:block;
      margin:0 auto;
  
    }
    color:color(primary);
    font-weight: 600;

  }
  label{
    color:color(primary);
    font-weight: 500;
  }
  .btn-primary{
    background-color: color(primary);
    width:70%;
    display:block;
    margin:0 auto;
  }
}
.remove-input-arrow{
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type=number] {
    -moz-appearance: textfield;
  }
}
.rdrCalendarWrapper{
  min-width:300px;
  width:100%;
  font-size:15px;
  border-radius: 12px;
  .rdrMonth{
    width:100%!important;
    font-family: sans-serif;
  }
  @media screen and (min-width:350px){
    .rdrMonthPicker, .rdrYearPicker {
      margin:0;
    }
  }
}
section{
  // @include space-section;
  // padding: 25px 40px;
  // &:nth-child(even){
  //   background-color: color(bg-alt);
  // }
  // &:nth-child(odd){
  //   background-color: color(bg);
  // }
}

.container {
    // width:80%;
    // margin:0 auto;
}
.button{
    has-text-align: center;
    padding:10px 15px;
    color: color(mid);
    font-weight:600;
    background-color: transparent;
    border:1px solid color(mid);
    border-radius:10px;
    &:hover{
      color: color(low);
      background-color: color(mid);

    }
    &.rounded{
      border-radius:30px;
    }
    &.primary{
      color: color(bg);
      background-color: color(primary);
      border:1px solid color(primary);

      &:hover{
        background-color: color(bg);
        color:color(primary);
      }
    }
    
}
footer{
  @include space-section;
  display:block;
  background-color:color(bg-alt);
  min-height:500px;
  padding: 20px;
}
//helpers
.has-text-primary{
  color:color(primary)
}
.has-text-low{
  color:color(low)
}
.has-text-accent{
  color:color(accent)
}
.has-text-secondary{
  color:color(secondary)
}